.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 5px;
}
.item {
    margin: 5px;
    background-color: red;
    width: auto;
    height: 540px;
}
#header {
    height: 100px;
    width: auto;
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    align-content: center;
    background-color: #0d6efd;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
#footer {
        height: 100px;
    width: auto;
    grid-area: 4 / 1 / 5 / 4;
    background-color: #0d6efd;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    color: white;
}